<?xml version="1.0"?>

<robot name="sensor_d435" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_gazebo.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_properties.urdf.xacro"/>


  
  <xacro:property name="d435_cam_offset_px" value="0.0" />
  <xacro:property name="d435_cam_offset_py" value="0.1" />
  <xacro:property name="d435_cam_offset_pz" value="0.015" />

  <xacro:property name="d435_cam_rgb_px" value="0.005"/>
  <xacro:property name="d435_cam_rgb_py" value="0.018"/>
  <xacro:property name="d435_cam_rgb_pz" value="0.013"/>
  <xacro:property name="d435_cam_depth_offset" value="0.01"/>


  <xacro:macro name="sensor_d435" params="parent">

    
 
    <!-- camera body -->
    <joint name="camera_joint" type="fixed">
      <origin xyz="-0.105 0 0.197" rpy="0 0 ${M_PI}"/>
      <parent link="${parent}"/>
      <child link="camera_link" />
    </joint>
    <link name="camera_link">
      <visual>
       <origin xyz="0 0 0" rpy="${M_PI/2} 0 ${M_PI/2}"/>
        <geometry>
         <mesh filename="package://turtlebot_description/meshes/sensors/d435.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <geometry>
          <box size="0.130 0.567 0.118"/>
        </geometry>
      </collision>-->
 
      <!-- This inertial field needs doesn't contain reliable data!! -->
     <inertial>
        <mass value="0.564" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.003881243" ixy="0.0" ixz="0.0"
                 iyy="0.000498940" iyz="0.0"
                 izz="0.003879257" />
      </inertial>
    </link>
    
    
    <!--
    ==  RGB joints & links ==
    -->

    <joint name="camera_rgb_joint" type="fixed">
      <origin xyz="${d435_cam_rgb_px} ${d435_cam_rgb_py} ${d435_cam_rgb_pz}" rpy="0 0 0"/>
      <parent link="camera_link"/>
      <child link="camera_rgb_frame" />
    </joint>
    <link name="camera_rgb_frame"/>

    <joint name="camera_rgb_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
      <parent link="camera_rgb_frame" />
      <child link="camera_rgb_optical_frame" />
    </joint>
    <link name="camera_rgb_optical_frame"/>
    
  

    <!--
    ==  Depth joints & links ==
    -->

    <joint name="camera_depth_joint" type="fixed">
        <origin xyz="0 ${d435_cam_depth_offset} 0" rpy="0 0 0" />
        <parent link="camera_rgb_frame" />
        <child link="camera_depth_frame" />
    </joint>
    <link name="camera_depth_frame"/>

    <joint name="camera_depth_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
        <parent link="camera_depth_frame" />
        <child link="camera_depth_optical_frame" />
    </joint>
    <link name="camera_depth_optical_frame"/>
    
	
	<!-- Simulation sensor -->
    <xacro:turtlebot_sim_3dsensor/>
  </xacro:macro>
</robot>
